@font-face {
   font-family: 'SST Arabic Roman';
   font-display: swap;
   src: url('file:///C:/Users/abdul/AppData/Local/Mobirise.com/Mobirise/projects/project-2022-02-20_232804/fonts/SST%20Arabic%20Roman/font.ttf');
}
